<div class="brand">
    <div class="brand__container">
        <div class="brand__header">
            <h3 class="brand__title">A marca da inovação no supermercado</h3>
            <p class="brand__description">
                Para o consumidor, o ato de comprar não é simplesmente uma ação corriqueira. Ele quer mais. Deseja se encantar, experimentar. <br />
                Ser seduzido e valorizado. Trate seu cliente como único, conquiste seu coração e com certeza ele irá retornar.
            </p>
            <a href="#" class="brand__link">Conheça nossas Soluções</a>
        </div>
        <div class="brand__main">
            <img src="@img(marca-inovadora)" alt="Marca Inovadora" />
        </div>
    </div>
</div>