<div class="brand">
    <div class="brand__container">
        <div class="brand__header">
            <h3 class="brand__title">A marca da inovação no supermercado</h3>
            <p class="brand__description">
                Para o consumidor, o ato de comprar não é simplesmente uma ação corriqueira. Ele quer mais. Deseja se encantar, experimentar. <br />
                Ser seduzido e valorizado. Trate seu cliente como único, conquiste seu coração e com certeza ele irá retornar.
            </p>
            <a href="#" class="brand__link">Conheça nossas Soluções</a>
        </div>
        <div class="brand__main">
            <img src="@img(marca-inovadora)" alt="Marca Inovadora" usemap="#image-map" />
            <map name="image-map">
                <area target="_blank" alt="Churrasco" title="Churrasco" href="#churrasco" coords="457,53,385,32" shape="rect">
                <area target="_blank" alt="Salgados e Embutidos" title="Salgados e Embutidos" href="#salgados-e-embutidos" coords="471,30,554,67" shape="rect">
                <area target="_blank" alt="Degustação Café" title="Degustação Café" href="#degustacao-cafe" coords="572,32,651,65" shape="rect">
                <area target="_blank" alt="Mercearia" title="Mercearia" href="#mercearia" coords="664,30,748,62" shape="rect">
                <area target="_blank" alt="Apoio Operacional" title="Apoio Operacional" href="#apoio-operacional" coords="792,116,881,153" shape="rect">
                <area target="_blank" alt="Padaria" title="Padaria" href="#padaria" coords="811,173,875,198" shape="rect">
                <area target="_blank" alt="Empório" title="Empório" href="#emporio" coords="833,225,903,253" shape="rect">
                <area target="_blank" alt="Hortifruti" title="Hortifruti" href="#hortifruti" coords="856,282,931,311" shape="rect">
                <area target="_blank" alt="Flores e Jardinagem" title="Flores e Jardinagem" href="#flores-e-jardinagem" coords="720,415,805,456" shape="rect">
                <area target="_blank" alt="Frente de Loja" title="Frente de Loja" href="#frente-de-loja" coords="619,417,676,454" shape="rect">
                <area target="_blank" alt="Terminais de Gôndulas" title="Terminais de Gôndulas" href="#terminais-de-gondulas" coords="483,415,570,453" shape="rect">
                <area target="_blank" alt="Checkstand" title="Checkstand" href="#checkstand" coords="348,414,436,444" shape="rect">
                <area target="_blank" alt="Guarda Volumes" title="Guarda Volumes" href="#guarda-volumes" coords="237,414,308,451" shape="rect">
                <area target="_blank" alt="Refeitório" title="Refeitório" href="#refeitorio" coords="162,101,241,132" shape="rect">
                <area target="_blank" alt="Adega e bebida finas" title="Adega e bebida finas" href="#adega-e-bebida-finas" coords="116,149,223,190" shape="rect">
                <area target="_blank" alt="Display Promocionais " title="Display Promocionais " href="#displays-promocionais" coords="89,221,194,259" shape="rect">
                <area target="_blank" alt="Magazine" title="Magazine" href="#magazine" coords="68,304,149,334" shape="rect">
            </map>
        </div>
    </div>
</div>