<div class="page-layout">
    <div class="page-layout__header">
        <h3 class="page-layout__title">
            Assista o vídeo e confira o
            <span>nossos projetos dee layouts</span>
        </h3>
        <div class="page-layout__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pbFSrQn9_4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="page-layout__main">
        <h4 class="page-layout__subtitle">
            Temos diferentes níveis de projetos <br />
            de acordo com a metragem da sua loja.
        </h4>

        <p class="page-layout__description">Preencha o formulário abaixo para falar com um de nossos analistas comerciais.</p>

        {{widget type="webforms/form" webform_id="2" template="webforms/default.phtml"}}
    </div>
</div>