<div class="gallery">
    <h3 class="gallery__title">Galeria</h3>
    <div class="gallery__content">
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
        <a href="#"><img src="https://fakeimg.pl/360/" /></a>
    </div>
</div>

@relacionados