.cms-home .header-container + .banner
    container()

    margin-top: -15px

.banner
    --gap: 20px

    img
        width: 100%
        height: 100%
        object-fit: cover

    &__wrapper
        margin: calc(-1 * calc((var(--gap) / 2)))
        width: auto !important

    &__item
        display: flex
        align-items: stretch

    &__link
        overflow: hidden
        margin: calc((var(--gap) / 2))
        padding: 0
        width: auto

        img
            transition: all .2s ease
            transform: scale(1)

            &:hover
                transform: scale(1.1)

#banner__home_banner_mosaico
    .banner__wrapper
        display: grid
        grid-template-areas: 'slide--1 slide--2 slide--3' 'slide--1 slide--4 slide--5'
        grid-template-columns: 2fr 1fr 1fr

    .slide
        &--1
            grid-area: slide--1

        &--2
            grid-area: slide--2

        &--3
            grid-area: slide--3

        &--4
            grid-area: slide--4

        &--5
            grid-area: slide--5
