.brand
    &__container
        container()

        text-align: center

    &__header
        margin-bottom: 16px

    &__title
        color: var(--secundary)
        font-weight: bold
        font-size: 22px

    &__description
        margin: 22px 0
        color: var(--primary-hover)
        font-weight: regular
        font-size: 16px

    &__link
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        width: 230px
        height: 50px
        border-radius: 3px
        background: var(--secundary)
        color: var(--secundary-contrast)
        font-weight: bold
        font-size: 13px
        opacity: 1