.categories
    --background: #f9f9f9

    .li--0, .all-li--0
        order: 2

        &.home
            order: 1

        &.layouts
            order: 3

    .all-li--0
        flex: 0 0 100%
        width: 100%

@media media-max-lg
    .categories--mobi .all-ul--0
        display: flex
        flex: 0 0 100%
        flex-flow: column nowrap

    .categories
        &__show
            order: -1
            background: var(--primary-contrast)
            color: var(--primary)

            &:hover
                background: @background
                color: @color

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                color: var(--primary-contrast)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media media-min-lg
    .categories
        --pos-left: 390px

        &
            position: static
            visibility: hidden
            flex: 1
            margin: -25px 0
            min-width: 0
            background: none

        .categories--on &
            visibility: visible

        &__all
            display: none

        .a--0
            padding: 0 5px
            height: 100px
            color: var(--secundary)
            white-space: nowrap
            font-weight: medium
            font-size: 14px

            span
                position: relative

                &:after
                    position: absolute
                    bottom: 0
                    left: 50%
                    max-width: 0
                    width: 100%
                    height: 1px
                    background: var(--secundary)
                    content: ''
                    transition: all .2s ease
                    transform: translateX(-50%)

        .a--1
            padding: 5px 20px
            color: var(--primary)
            font-weight: medium
            font-size: 16px

            &:hover
                text-decoration: underline

        .li--0
            position: static
            flex: 0 0 auto

            &:hover
                .a--0
                    background: none
                    color: var(--secundary)

                    span
                        &:after
                            max-width: 100%

        .li--1
            max-width: 24.38rem

        .ul--0
            position: static
            justify-content: space-around

        .ul--1
            container()

            position: relative
            flex: 0 0 auto
            margin: 0 auto

            &:before
                display: block
                margin: 20px 0
                color: var(--secundary)
                content: attr(data-title)
                font-weight: bold
                font-size: 24px

        .box--1
            min-height: 400px
            width: 100%
            background: var(--background)

            shadowBorder()

        &__block
            position: absolute
            top: 0
            left: var(--pos-left)
            padding: 0
            height: 100%

            > *
                height: 100%

            img
                width: 100%
                height: 100%
                object-fit: cover