@media media-max-lg
    .categories
        &__show
            order: -1
            background: var(--primary-contrast)
            color: var(--primary)

            &:hover
                background: @background
                color: @color

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: var(--primary-contrast)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media media-min-lg
    .categories
        flex: 1
        margin: -25px 0
        min-width: 0
        background: none

        &__all
            display: none

        .a--0
            padding: 0
            height: 100px
            color: var(--secundary)
            white-space: nowrap
            font-weight: medium
            font-size: 14px

            span
                position: relative

                &:after
                    position: absolute
                    bottom: 0
                    left: 50%
                    max-width: 0
                    width: 100%
                    height: 1px
                    background: var(--secundary)
                    content: ''
                    transition: all .2s ease
                    transform: translateX(-50%)

        .li--0
            flex: 0 0 auto

            &:hover
                .a--0
                    background: none
                    color: var(--secundary)

                    span
                        &:after
                            max-width: 100%

        .ul--0
            justify-content: space-around