.modal
    background: rgba(255, 255, 255, .5)

    &__close
        top: 0
        bottom: auto
        background: none
        box-shadow: none
        color: var(--secundary)

        &:hover
            background: @background
            color: var(--primary)

    &__box
        padding-top: 44px
        border: solid 1px #ecedf2