.msg-login
    display: none
    padding: 10px
    border-radius: 3px
    background: var(--secundary)
    color: var(--secundary-contrast)
    font-weight: bold
    font-size: 13px

    @media media-min-lg
        max-width: 240px

    body:not(.user-logged) &
        display: block

    .products__case:hover &
        background: var(--primary)

    .icon
        flex: 0 0 13px
        margin-right: 10px
        font-size: 14px

        .products__case:hover &
            color: var(--secundary)

    a
        display: flex
        align-items: center
        color: currentColor

    span
        display: block
        flex: 1 1 0%