.mymenu
    .footer &
        .a--0
            color: var(--primary-contrast)
            font-weight: medium
            font-size: 15px

            &[href=#]
                pointer-events: none

            &[href*=mailto]
                color: var(--secundary)
                font-weight: bold
                font-size: 16px

#promarket-footer-ceentral-de-atendimento
    .li--0
        &:first-child
            margin-bottom: 0

            .a--0
                font-size: 13px