.newsletter
    container()
    shadowBorder()

    padding: 30px 0
    background: var(--primary)
    color: var(--primary-contrast)

    .input-text
        padding: 0
        border: 0
        border-bottom: solid 1px var(--primary-contrast)
        border-radius: 0 !important
        background: none
        box-shadow: none
        color: var(--primary-contrast)
        font-weight: regular
        font-size: 13px

        &::placeholder
            color: @color

        &:focus::placeholder
            color: transparent

    .std
        color: currentColor

    &__text
        display: flex
        align-items: center

        @media media-min-lg
            flex: 0 1 680px

        span, strong
            line-height: 1.2

        span
            display: block

        .icon
            flex: 0 0 39px
            margin-top: -3px
            margin-right: 10px
            width: 39px
            height: 39px

        .title
            color: currentColor
            font-weight: regular
            font-size: 14px

            strong
                font-size: 16px

    &__btn
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        height: 44px
        border: 0
        border-bottom: solid 1px var(--primary-contrast)
        border-radius: 0
        background: none
        box-shadow: none
        color: var(--secundary)
        font-weight: bold
        font-size: 13px

    &__form
        @media media-min-lg
            flex-wrap: nowrap

    &__email
        @media media-min-lg
            margin-right: -8px