.related
    margin-top: 50px

    &__title
        padding: 30px 0 20px
        border-top: solid 2px #b2c0d6
        color: var(--secundary)
        font-weight: bold
        font-size: 20px

    &__subtitle, &__add-checkbox
        display: none
