.search
    &__button
        background: var(--primary-contrast)
        color: var(--primary)

        @media media-max-lg
            span
                display: none

            &:before
                icon('\f002')

                font-size: 15px

        &:hover
            background: var(--primary-constrast)
            color: var(--primary)