.opc
    .header
        display: flex
        justify-content: center
        padding: 16px 0

        .logo
            flex: 0 0 auto
            margin: 0 auto

        &-container
            background: #ffffff
